.service{
    border: 1px solid rgba(102, 51, 153, 0);
    margin-bottom: 50px;
    margin-right:10px ;
    margin-left: 10px;
}
.service:hover{
    background-color: rgb(240, 234, 234);
    border: 1px solid rebeccapurple;
    border-radius: 8px;
}
.image{
    border-radius: 8px;
}
.details{
    margin-top: 30px;
    padding: 10px 25px;
}